<style>

    #success-message, #error-message {
        transition: opacity 0.5s ease-out;
        opacity: 1;
    }
    
    #success-message.fade-out, #error-message.fade-out {
        opacity: 0;
    }

    .user-info {
        color: lightgrey; /* Texte en gris clair */
        
        padding: 5px 10px; /* Ajoutez un peu de remplissage pour l'apparence */
        border-radius: 5px; /* Ajoutez des coins arrondis */
    }

</style>